<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "style.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/jpeg" href='{% static "Icon/logo.png" %}'>

    <title>Dashboarding Product | DizzData</title>

    <style type="text/css">
        .chart_type{
            width: 100%;
            padding-top: 50px;
            height: 70px;
        }
        .chart_option{
            display: inline;
            margin-right: 10px;
            cursor: pointer;
            padding-right: 5px;
            border-right: 1px solid #cccccc;
        }
    </style>
  </head>
  <body onload="setGraphType('bar')">
     <form method="post" id="queryform" enctype="multipart/form-data">{% csrf_token %}</form>
    <section class="sec point" id="sec1">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="dropdown">
                    <div class="point-center">
                        {% comment %}<button type="button" id="drop" class="btn dropdown-toggle" data-toggle="dropdown">
                            Games
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">No Game :(</a>
                        </div>{% endcomment %}
                         {% if connected == True %}
                        <a href={% url 'logout' %}>
                            <input type="button" value="logout" />
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% if connected == True %}
                 <div class="col-md-4 col-sm-4">
                <div class="point-center">
                    <button type="submit" class="btn-default" >
                       Connected
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="col-md-4 col-sm-4">
                <div class="point-center">
                    <button type="submit" class="btn refresh" title="Refresh" id="run_query" form="queryform">
                        Run Query
                        <i id="refresh" class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                    <div class="dropdown">
                        <div class="point-center">
                            <button type="button" id="drop" class="btn dropdown-toggle" data-toggle="dropdown">
                                Connect to Database
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'signin' %}">BigQuery</a>
                                <a class="dropdown-item" href="{% url 'uploadcsv' %}">Upload CSV</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="sec" id="sec2">


    <div style="margin-top: 50px;">

        {% if documents %}
        <ul>
          {% for document in documents %}
            <form action="{% url 'docaccess' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label for="url"></label>
              <input id="url" type="hidden" name="url" value="{{ document.docfile.name }}">
              <input type="submit" value="{{ document.docfile.name }}">
            </form>
          {% endfor %}
          </ul>
          {% else %}
              <p>No documents.</p>
          {% endif %}


    </div>


        <div class="row">
            <div id="sec1-sql" class="col-md-2 col-sm-2">
                <div class="aside">
                    <ul class="list-group">
                        <a class="list-group-item" href="{% url 'root' %}">Coding Area </a>
                        <a class="list-group-item active" href="{% url 'charting' %}">Charting Area</a>
                        <a href="{% url 'staging' %}" class="list-group-item">Reporting Area</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3" id="chart_options" style="padding-top: 50px;">
                <input type="text" name="chartTitle" id="chartTitle" placeholder="Chart Title">
                <button type="button" id="chartTitleButton">Change Title</button>
                <input type="text" name="xAxisLabel" id="xAxisLabel" placeholder="xAxisLabel">
                <input type="text" name="yAxisLabel" id="yAxisLabel" placeholder="yAxisLabel">
                <button type="button" id="change_label_button">Change Label</button>
                <input type="text" name="histBins" id="histBins" placeholder="No. Of Columns">
                <button type="button" id="change_bins_button">Change Columns</button>
                <input type="text" name="numberY" id="numberY" placeholder="No. Of Y-Axis Variables">
                <button type="button" id="change_yaxis_vars">Set Number of Y-Axis Vars</button>
            </div>
            <div id="sec3-sql" class="col-md-7 col-sm-7">
                <div class="chart_type">
                    <div class="chart_option" id="bar_option" onclick="setGraphType('bar')">Bar Graph</div>
                    <div class="chart_option" id="histogram_option" onclick="setGraphType('histogram')">Histogram</div>
                    <div class="chart_option" id="pie_option" onclick="setGraphType('pie')">Pie Chart</div>
                    <div class="chart_option" id="line_option" onclick="setGraphType('line')">Line Graph</div>
                </div>

                <div class="main1" id="svgcontainer">

                </div>
            </div>


        </div>
    </section>

    <section class="sec" id="sec3">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="buttons">
                        <button type="button" class="btn btn-danger">Show Email Alerts</button>
                    </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="buttons">
                    <button type="button" class="btn btn-danger">Show Anamalies</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='{% static "script.js" %}'></script>



    <script src="https://d3js.org/d3.v4.min.js"></script>


    <script type="text/javascript">

    function setGraphType(x){

        if(x=="bar") {

        document.getElementById('histBins').style.display = "none";
        document.getElementById('change_bins_button').style.display = "none";

        document.getElementById('numberY').style.display = "none";
        document.getElementById('change_yaxis_vars').style.display = "none";

        document.getElementById('bar_option').style.backgroundColor= "#cccccc";
        document.getElementById('histogram_option').style.backgroundColor= "#eaeaea";
        document.getElementById('pie_option').style.backgroundColor= "#eaeaea";
        document.getElementById('line_option').style.backgroundColor= "#eaeaea";

        document.getElementById('xAxisLabel').style.display = "block";
        document.getElementById('yAxisLabel').style.display = "block";
        document.getElementById('change_label_button').style.display = "block";

        d3.selectAll("svg").remove();
        d3.selectAll("select").remove();
        d3.selectAll("br").remove();
        graphType = x;

        var margin = {top:0, right:0, bottom:20, left:50},
            width  = 900,
            height = 500;

        var svg = d3.select("#svgcontainer")
            .append("svg:svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", "0 0 " + width + " " + height);


        var yScale = d3.scaleLinear()
            .range([height - margin.top - margin.bottom, 0]);

        var xScale = d3.scaleBand()
            .rangeRound([0, width - margin.right - margin.left])
            .paddingInner(0.5);

        var xAxis = d3.axisBottom(xScale);
        var yAxis = d3.axisLeft(yScale);


        var xAxisVar = "";
        var yAxisVar = "";
        var operation = "";
        var xAxisLabel = "";
        var yAxisLabel = "";
        var chartTitle = "";




        d3.csv("{% static 'dataset.csv' %}"+'?' + Math.floor(Math.random() * 1000), function(error, data){

              var dataValues = d3.values(data)[0];

              var sTitle = d3.select('#chartTitleButton');

              d3.select('#chart_options').append('br');

              var sLabel = d3.select('#change_label_button')
                        .text("Change Label");


                d3.select('#chart_options').append('br');

              var sX = d3.select('#chart_options').append('select');
              sX.append('option').text('X Axis Var');
              for(var i=0; i<Object.keys(dataValues).length; i++ ){
                sX.append('option').text(Object.keys(dataValues)[i]);
              }

              d3.select('#chart_options').append('br');

              var sY = d3.select('#chart_options').append('select');
              sY.append('option').text('Y Axis Var');
              for(var i=0; i<Object.keys(dataValues).length; i++ ){
                sY.append('option').text(Object.keys(dataValues)[i]);
              }

              d3.select('#chart_options').append('br');

              var sO = d3.select('#chart_options').append('select');
              sO.append('option').text('Operation');
              sO.append('option').text("Sum");
              sO.append('option').text("Average");
              sO.append('option').text("Max");
              sO.append('option').text("Min");



            sX.on('change',function(){
              xAxisVar = this.options[this.selectedIndex].value;
              changeGraph(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });


            sY.on('change',function(){
              yAxisVar = this.options[this.selectedIndex].value;
              changeGraph(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });

            sO.on('change',function(){
              operation = this.options[this.selectedIndex].value;
              changeGraph(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });

            sLabel.on('click', function(){
                xAxisLabel = document.getElementById("xAxisLabel").value;
                yAxisLabel = document.getElementById("yAxisLabel").value;
                changeGraph(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });

            sTitle.on('click', function(){
                chartTitle = document.getElementById("chartTitle").value;
                changeGraph(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });
        });

        function changeGraph(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle){
          d3.selectAll("svg > *").remove();
            var dataNew;
            if(operation == "Average") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.mean(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }else if(operation == "Sum") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.sum(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }else if(operation == "Max") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.max(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }else if(operation == "Min") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.min(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }

            dataNew.sort(function(x, y){
              return d3.ascending(+x["key"], +y["key"]);
            })



            yScale.domain([0, d3.max(dataNew, function(d){ return d["value"]; })]).nice();

            xScale.domain(dataNew.map(function(d){ return d["key"]; }));

            var colorScale = d3.scaleOrdinal(d3.schemeCategory10);
            colorScale.domain(data.map(function (d){ return d["key"]; }));


            svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .selectAll(".bar")
            .data(dataNew)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d){ return xScale(d["key"]); })
            .attr("y", function(d){ return yScale(d["value"]); })
            .attr("fill", function (d){ return colorScale(d["key"]); })
        //    .attr("fill", "red")
            .attr("height", function(d){ return height - margin.top - margin.bottom - yScale(d["value"]); })
            .attr("width", xScale.bandwidth())
            .on("mouseout", function() { tooltip.style("display", "none"); })
            .on("mousemove", function(d) {
              var xPosition = d3.mouse(this)[0];
              var yPosition = d3.mouse(this)[1] - 25;
              tooltip.style("display", "block");
              tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
              tooltip.select("text").text(+d["value"].toFixed(3));
            });


            svg.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(yAxis);

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0)
                .attr("x", 0 - (height / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text(yAxisLabel);

        //adding x axis to the bottom of chart
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(" + margin.left + "," + (height - margin.bottom) + ")")
                .call(xAxis);

            svg.append("text")
              .attr("transform","translate(" + (width/2) + " ," + (height + margin.top + 20) + ")")
              .style("text-anchor", "middle")
              .text(xAxisLabel);

            d3.select('svg').append("text")
                .attr("x", (width / 2))
                .attr("y", -20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .style("font-size", "24px")
                .style("font-weight", "bold")
                .text(chartTitle);

            var tooltip = svg.append("g")
            .style("display", "none");

            tooltip.append("rect")
            .attr("width", 60)
            .attr("height", 20)
            .attr("fill", "white")
            .style("opacity", 0.5);

            tooltip.append("text")
            .attr("x", 30)
            .attr("dy", "1.2em")
            .style("text-anchor", "middle")
            .attr("font-size", "12px")
            .attr("font-weight", "bold");
          }



    }else if(x == "histogram"){

        document.getElementById('histBins').style.display = "block";
        document.getElementById('change_bins_button').style.display = "block";

        document.getElementById('numberY').style.display = "none";
        document.getElementById('change_yaxis_vars').style.display = "none";

        document.getElementById('bar_option').style.backgroundColor= "#eaeaea";
        document.getElementById('histogram_option').style.backgroundColor= "#cccccc";
        document.getElementById('pie_option').style.backgroundColor= "#eaeaea";
        document.getElementById('line_option').style.backgroundColor= "#eaeaea";


        document.getElementById('xAxisLabel').style.display = "block";
        document.getElementById('yAxisLabel').style.display = "block";
        document.getElementById('change_label_button').style.display = "block";


        d3.select("svg").remove();
        d3.selectAll("select").remove();
        d3.selectAll("br").remove();
        graphType = x;

        var margin = {top:0, right:0, bottom:20, left:50},
            width  = 900,
            height = 500;

        var svg = d3.select("#svgcontainer")
            .append("svg:svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", "0 0 " + width + " " + height);


        var yScale = d3.scaleLinear()
            .range([height - margin.top - margin.bottom, 0]);

        var xScale = d3.scaleLinear()
            .rangeRound([0, width - margin.right - margin.left]);




        var xAxisVar = "";
        var yAxisVar = "";
        var operation = "";
        var xAxisLabel = "";
        var yAxisLabel = "";
        var chartTitle = "";
        var binCount = "";


        d3.csv("{% static 'dataset.csv' %}"+'?' + Math.floor(Math.random() * 1000), function(error, data){



              var dataValues = d3.values(data)[0];

              var sTitle = d3.select('#chartTitleButton');

              d3.select('#chart_options').append('br');

              var sLabel = d3.select('#change_label_button')
                        .text("Change Label");


                d3.select('#chart_options').append('br');

              var sX = d3.select('#chart_options').append('select');
              sX.append('option').text('X Axis Var');
              for(var i=0; i<Object.keys(dataValues).length; i++ ){
                sX.append('option').text(Object.keys(dataValues)[i]);
              }

              d3.select('#chart_options').append('br');



              var sB = d3.select('#change_bins_button');

            sX.on('change',function(){
              xAxisVar = this.options[this.selectedIndex].value;
              changeHisto(data, xAxisVar, xAxisLabel, yAxisLabel, chartTitle, binCount);
            });


            sLabel.on('click', function(){
                xAxisLabel = document.getElementById("xAxisLabel").value;
                yAxisLabel = document.getElementById("yAxisLabel").value;
                changeHisto(data, xAxisVar, xAxisLabel, yAxisLabel, chartTitle, binCount);
            });

            sTitle.on('click', function(){
                chartTitle = document.getElementById("chartTitle").value;
                changeHisto(data, xAxisVar, xAxisLabel, yAxisLabel, chartTitle, binCount);
            });

            sB.on('click', function(){
                binCount = document.getElementById("histBins").value;
                changeHisto(data, xAxisVar, xAxisLabel, yAxisLabel, chartTitle, binCount);
            });
        });


        function changeHisto(data, xAxisVar, xAxisLabel, yAxisLabel, chartTitle, binCount){
            d3.selectAll("svg > *").remove();
            var dataNew;
            var map = data.map(function(d){ return +d[xAxisVar]});

            if(binCount == ""){
                binCount = map.length;
            }

            var histogram = d3.histogram().thresholds(+binCount);

            var bins = histogram(map);


            var maxY = d3.max(bins, function(d) { return d.length; });

            xScale.domain([d3.min(bins, function(d) { return d.x0; }), d3.max(bins, function(d) { return d.x1; })]).nice();

            yScale.domain([0, maxY]).nice();


            tempMax = 0;

            if(yScale(maxY) != 0 ){
                tempMax = yScale(maxY);
            }

            var bar = svg.selectAll(".bar")
      .data(bins)
    .enter().append("g")
      .attr("class", "bar")
      .attr("transform", function(d) { return "translate(" + margin.left + "," + margin.bottom + ")"; });

      bar.append("rect")
      .attr("x", function(d){ return xScale(d.x0);})
      .attr("y", function(d){return height - yScale(maxY - d.length) - margin.bottom + tempMax;})
      .attr("width", function(d) { return xScale(d.x1) - xScale(d.x0); })
      .attr("height", function(d) {return yScale(maxY - d.length) - tempMax; })
      .attr("fill", "steelblue")
      .on("mouseenter", function(d) {
              var xPosition = d3.mouse(this)[0];
              var yPosition = d3.mouse(this)[1] - 10;
              tooltip.style("display", "block");
              tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
              tooltip.select("text").text(d.length);
            })
      .on("mouseout", function() { tooltip.style("display", "none"); })
            .on("mousemove", function(d) {
              var xPosition = d3.mouse(this)[0];
              var yPosition = d3.mouse(this)[1] - 10;
              tooltip.style("display", "block");
              tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
              tooltip.select("text").text(d.length);
            });

  var xAxis = d3.axisBottom(xScale);
        var yAxis = d3.axisLeft(yScale);


              svg.append("g")
                  .attr("class", "x axis")
                .attr("transform", "translate(" + margin.left + "," + height + ")")
                  .call(xAxis);


                svg.append("text")
              .attr("transform","translate(" + (width/2) + " ," + (height + margin.top + 30) + ")")
              .style("text-anchor", "middle")
              .text(xAxisLabel);


              svg.append("g")
              .attr("class", "y axis")
            .attr("transform", "translate(" + margin.left + "," + (margin.top + margin.bottom) + ")")
                  .call(yAxis);

                svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0)
                .attr("x", 0 - (height / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text(yAxisLabel);

                d3.select('svg').append("text")
                .attr("x", (width / 2))
                .attr("y", -20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .style("font-size", "24px")
                .style("font-weight", "bold")
                .text(chartTitle);


                var tooltip = svg.append("g")
            .style("display", "none");

            tooltip.append("rect")
            .attr("width", 60)
            .attr("height", 20)
            .attr("fill", "white")
            .style("opacity", 0.5);

            tooltip.append("text")
            .attr("x", 30)
            .attr("dy", "1.2em")
            .style("text-anchor", "middle")
            .attr("font-size", "12px")
            .attr("font-weight", "bold");
        }

    }else if(x == "pie"){

        document.getElementById('histBins').style.display = "none";
        document.getElementById('change_bins_button').style.display = "none";

        document.getElementById('numberY').style.display = "none";
        document.getElementById('change_yaxis_vars').style.display = "none";

        document.getElementById('bar_option').style.backgroundColor= "#eaeaea";
        document.getElementById('histogram_option').style.backgroundColor= "#eaeaea";
        document.getElementById('pie_option').style.backgroundColor= "#cccccc";
        document.getElementById('line_option').style.backgroundColor= "#eaeaea";

        document.getElementById('xAxisLabel').style.display = "none";
        document.getElementById('yAxisLabel').style.display = "none";
        document.getElementById('change_label_button').style.display = "none";

        d3.select("svg").remove();
        d3.selectAll("select").remove();
        d3.selectAll("br").remove();
        graphType = x;

        var margin = {top:0, right:0, bottom:20, left:50},
            width  = 900,
            height = 500,
            radius = Math.min(width, height) / 2;;

        var svg = d3.select("#svgcontainer")
            .append("svg:svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", "0 0 " + width + " " + height);




        var xAxisVar = "";
        var chartTitle = ""
        var yAxisVar="";
        var operation="";

        d3.csv("{% static 'dataset.csv' %}"+'?' + Math.floor(Math.random() * 1000), function(error, data){

              var dataValues = d3.values(data)[0];

              var sTitle = d3.select('#chartTitleButton');

              d3.select('#chart_options').append('br');

              var sLabel = d3.select('#change_label_button')
                        .text("Change Label");


                d3.select('#chart_options').append('br');


              var sX = d3.select('#chart_options').append('select');
              sX.append('option').text('Categorical Column');
              for(var i=0; i<Object.keys(dataValues).length; i++ ){
                sX.append('option').text(Object.keys(dataValues)[i]);
              }

              d3.select('#chart_options').append('br');

              var sY = d3.select('#chart_options').append('select');

              sY.append('option').text('Value Column');
              for(var i=0; i<Object.keys(dataValues).length; i++ ){
                sY.append('option').text(Object.keys(dataValues)[i]);
              }

            d3.select('#chart_options').append('br');

            var sO = d3.select('#chart_options').append('select');
              sO.append('option').text('Operation');
              sO.append('option').text("Sum");
              sO.append('option').text("Average");
              sO.append('option').text("Max");
              sO.append('option').text("Min");


            sX.on('change',function(){
              xAxisVar = this.options[this.selectedIndex].value;
              changePie(data, xAxisVar, yAxisVar, operation, chartTitle);
            });


            sY.on('change',function(){
              yAxisVar = this.options[this.selectedIndex].value;
              changePie(data, xAxisVar, yAxisVar, operation, chartTitle);
            });

            sO.on('change',function(){
              operation = this.options[this.selectedIndex].value;
              changePie(data, xAxisVar, yAxisVar, operation, chartTitle);
            });

            sTitle.on('click', function(){
                chartTitle = document.getElementById("chartTitle").value;
                changePie(data, xAxisVar, yAxisVar, operation, chartTitle);
            });

        });


        function changePie(data, xAxisVar, yAxisVar, operation, chartTitle){
            d3.selectAll("svg > *").remove();

            var map;
            if(operation == "Average") {
              map=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.mean(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }else if(operation == "Sum") {
              map=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.sum(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }else if(operation == "Max") {
              map=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.max(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }else if(operation == "Min") {
              map=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.min(d,function(g) {return +g[yAxisVar];});
                })
                .entries(data);
            }

            map.sort(function(x, y){
              return d3.ascending(+x["key"], +y["key"]);
            })

            var arc = d3.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);

            var labelArc = d3.arc()
                .outerRadius(radius - 40)
                .innerRadius(radius - 40);

            var pie = d3.pie()
                .sort(null)
                .value(function(d) { return d.value; });

            var newData = pie(map);

            console.log(newData);

            var colorScale = d3.scaleOrdinal(d3.schemeCategory10);
            colorScale.domain(newData.map(function (d){ return d.data.key; }));

            var g = svg.selectAll(".arc")
                .data(newData)
                .enter().append("g")
                .attr("class", "arc")
                .attr("transform", function(d) { return "translate(" + width/2 + "," + height/2 + ")"; });

            g.append("path")
                .attr("d", arc)
                .style("fill", function(d) { return colorScale(d.data.key); })
                .on("mouseenter", function(d) {
                  var xPosition = d3.mouse(this)[0] + width/2 - 25;
                  var yPosition = d3.mouse(this)[1] + height/2 - 25;
                  tooltip.style("display", "block");
                  tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
                  tooltip.select("text").text(d.data.value);
                })
                .on("mouseout", function() { tooltip.style("display", "none"); })
                .on("mousemove", function(d) {
                  var xPosition = d3.mouse(this)[0] + width/2 -25;
                  var yPosition = d3.mouse(this)[1] + height/2 - 25;
                  tooltip.style("display", "block");
                  tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
                  tooltip.select("text").text(d.data.key + " : " + +d.data.value.toFixed(3));
                });


            g.append("text")
                .attr("transform", function(d) {return "translate(" + (labelArc.centroid(d)[0] - 10) + "," + labelArc.centroid(d)[1] + ")"; })
                .text(function(d) { return (((d.endAngle - d.startAngle)/(2*Math.PI)*100).toFixed(1) + "%" );})
                .style("fill", "#eee")
                .style("font-size", "10px");

                d3.select('svg').append("text")
                .attr("x", (width / 2))
                .attr("y", -20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .style("font-size", "24px")
                .style("font-weight", "bold")
                .text(chartTitle);


                var tooltip = svg.append("g")
            .style("display", "none");

            tooltip.append("rect")
            .attr("width", 60)
            .attr("height", 20)
            .attr("fill", "white")
            .style("opacity", 0.5);

            tooltip.append("text")
            .attr("x", 30)
            .attr("dy", "1.2em")
            .style("text-anchor", "middle")
            .attr("font-size", "12px")
            .attr("font-weight", "bold");
        }

    }else if(x=="line") {

        document.getElementById('histBins').style.display = "none";
        document.getElementById('change_bins_button').style.display = "none";

        document.getElementById('numberY').style.display = "block";
        document.getElementById('change_yaxis_vars').style.display = "block";


        document.getElementById('bar_option').style.backgroundColor= "#eaeaea";
        document.getElementById('histogram_option').style.backgroundColor= "#eaeaea";
        document.getElementById('pie_option').style.backgroundColor= "#eaeaea";
        document.getElementById('line_option').style.backgroundColor= "#cccccc";

        document.getElementById('xAxisLabel').style.display = "block";
        document.getElementById('yAxisLabel').style.display = "block";
        document.getElementById('change_label_button').style.display = "block";

        d3.selectAll("svg").remove();
        d3.selectAll("select").remove();
        d3.selectAll("br").remove();
        graphType = x;

        var margin = {top:0, right:0, bottom:20, left:50},
            width  = 900,
            height = 500;

        var svg = d3.select("#svgcontainer")
            .append("svg:svg")
            .attr("width", "100%")
            .attr("height", "100%")
            .attr("viewBox", "0 0 " + width + " " + height);


        var yScale = d3.scaleLinear()
            .range([height - margin.top - margin.bottom, 0]);

        var xScale = d3.scaleBand()
            .rangeRound([0, width - margin.right - margin.left]);

        var xAxis = d3.axisBottom(xScale);
        var yAxis = d3.axisLeft(yScale);


        var xAxisVar = "";
        var yAxisVar = [];
        var operation = "";
        var xAxisLabel = "";
        var yAxisLabel = "";
        var chartTitle = "";
        var numberOfY = 0;



        d3.csv("{% static 'dataset.csv' %}"+'?' + Math.floor(Math.random() * 1000), function(error, data){

              var dataValues = d3.values(data)[0];

              var sTitle = d3.select('#chartTitleButton');

              d3.select('#chart_options').append('br');

              var sLabel = d3.select('#change_label_button')
                        .text("Change Label");


                d3.select('#chart_options').append('br');

              var sX = d3.select('#chart_options').append('select');
              sX.append('option').text('X Axis Var');
              for(var i=0; i<Object.keys(dataValues).length; i++ ){
                sX.append('option').text(Object.keys(dataValues)[i]);
              }

              d3.select('#chart_options').append('br');




            var sNY = d3.select('#change_yaxis_vars');

            var sY=[];

            var chartOptionDiv = document.getElementById("chart_options");

            sNY.on('click', function(){
                var numY = document.getElementById("numberY").value;
                for(var ii=0; ii<+numY; ii++){


                    sY[ii] = chartOptionDiv.appendChild(document.createElement('select'));

                    var option = document.createElement("option");
                    option.text = "Y Axis Var";

                    sY[ii].add(option);
                    for(var i=0; i<Object.keys(dataValues).length; i++ ){
                         var option = document.createElement("option");
                        option.text = Object.keys(dataValues)[i];
                        sY[ii].add(option);
                    }

                    var prev = "";

                    sY[ii].onclick = function(){
                        prev = this.value;
                    }

                    sY[ii].onchange = function(){
                    if(prev != "Y Axis Var"){
                        yAxisVar[yAxisVar.indexOf(prev)] = this.options[this.selectedIndex].value;
                    }else{
                        yAxisVar.push(this.options[this.selectedIndex].value);
                        numberOfY++;
                    }
                        changeLines(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
                    }

                    d3.select('#chart_options').append('br');
                }
            });


              var sO = d3.select('#chart_options').append('select');
              sO.append('option').text('Operation');
              sO.append('option').text("Sum");
              sO.append('option').text("Average");
              sO.append('option').text("Max");
              sO.append('option').text("Min");



            sX.on('change',function(){
              xAxisVar = this.options[this.selectedIndex].value;
              changeLines(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });


            sO.on('change',function(){
              operation = this.options[this.selectedIndex].value;
              changeLines(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });

            sLabel.on('click', function(){
                xAxisLabel = document.getElementById("xAxisLabel").value;
                yAxisLabel = document.getElementById("yAxisLabel").value;
                changeLines(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });

            sTitle.on('click', function(){
                chartTitle = document.getElementById("chartTitle").value;
                changeLines(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle);
            });

        });

        function changeLines(data, xAxisVar, yAxisVar, operation, xAxisLabel, yAxisLabel, chartTitle){
          d3.selectAll("svg > *").remove();


            var dataNew;

            if(yAxisVar[0]){
                if(operation == "Average") {
                  dataNew=d3.nest()
                    .key(function(d) {return d[xAxisVar];})
                    .rollup(function(d) {
                    return d3.mean(d,function(g) {return +g[yAxisVar[0]];});
                    })
                    .entries(data);
                }else if(operation == "Sum") {
                  dataNew=d3.nest()
                    .key(function(d) {return d[xAxisVar];})
                    .rollup(function(d) {
                    return d3.sum(d,function(g) {return +g[yAxisVar[0]];});
                    })
                    .entries(data);
                }else if(operation == "Max") {
                  dataNew=d3.nest()
                    .key(function(d) {return d[xAxisVar];})
                    .rollup(function(d) {
                    return d3.max(d,function(g) {return +g[yAxisVar[0]];});
                    })
                    .entries(data);
                }else if(operation == "Min") {
                  dataNew=d3.nest()
                    .key(function(d) {return d[xAxisVar];})
                    .rollup(function(d) {
                    return d3.min(d,function(g) {return +g[yAxisVar[0]];});
                    })
                    .entries(data);
                }

                dataNew.sort(function(x, y){
                  return d3.ascending(+x["key"], +y["key"]);
                })

            var maxYAxisDom = d3.max(dataNew, function(d){ return d["value"]; });


            yScale.domain([0, maxYAxisDom]).nice();

            xScale.domain(dataNew.map(function(d){ return d["key"]; }));

            svg.select('.y_axis').remove();

            svg.append("g")
            .attr("class", "y_axis")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(yAxis);

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0)
                .attr("x", 0 - (height / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text(yAxisLabel);

        //adding x axis to the bottom of chart
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(" + margin.left + "," + (height - margin.bottom) + ")")
                .call(xAxis);

            svg.append("text")
              .attr("transform","translate(" + (width/2) + " ," + (height + margin.top + 20) + ")")
              .style("text-anchor", "middle")
              .text(xAxisLabel);

            d3.select('svg').append("text")
                .attr("x", (width / 2))
                .attr("y", -20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .style("font-size", "24px")
                .style("font-weight", "bold")
                .text(chartTitle);

            var tooltip = svg.append("g")
            .style("display", "none");

            tooltip.append("rect")
            .attr("width", 60)
            .attr("height", 20)
            .attr("fill", "#aeaeae")
            .style("opacity", 0.5);

            tooltip.append("text")
            .attr("x", 30)
            .attr("dy", "1.2em")
            .attr("color", "#888")
            .style("text-anchor", "middle")
            .attr("font-size", "12px")
            .attr("font-weight", "bold");

        }

            var dataArray = [];


            for(var ii=0; ii<yAxisVar.length; ii++){


                var lineGen = d3.line()
              .x(function(d) {
                return xScale(d["key"]) ;
              })
              .y(function(d) {
                return yScale(d["value"]);
              });


                if(operation == "Average") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.mean(d,function(g) {return +g[yAxisVar[ii]];});
                })
                .entries(data);
            }else if(operation == "Sum") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.sum(d,function(g) {return +g[yAxisVar[ii]];});
                })
                .entries(data);
            }else if(operation == "Max") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.max(d,function(g) {return +g[yAxisVar[ii]];});
                })
                .entries(data);
            }else if(operation == "Min") {
              dataNew=d3.nest()
                .key(function(d) {return d[xAxisVar];})
                .rollup(function(d) {
                return d3.min(d,function(g) {return +g[yAxisVar[ii]];});
                })
                .entries(data);
            }

            dataNew.sort(function(x, y){
              return d3.ascending(+x["key"], +y["key"]);
            })

            dataArray.push(dataNew);

            if(d3.max(dataNew, function(d){ return d["value"]; }) > maxYAxisDom){

                maxYAxisDom = d3.max(dataNew, function(d){ return d["value"];});
                d3.select(".y_axis").remove();

                yScale.domain([0, maxYAxisDom]).nice();
                svg.append("g")
            .attr("class", "y_axis")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
            .call(yAxis);

            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0)
                .attr("x", 0 - (height / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text(yAxisLabel);
            }
        }

             var colorScale = d3.scaleOrdinal(d3.schemeCategory10);
            colorScale.domain([0, dataArray.length-1]);

            var g = svg.selectAll(".graphLines")
                .data(dataArray).enter()
                .append("g")
                .attr("class", "graphLines");


            g.append("path")
                .attr("transform", "translate(" + margin.left + "," + (margin.top + 7) +  ")")
                .attr("d", function(d){ return lineGen(d);})
                .attr("stroke", function(d, i){return colorScale(i);})
                .attr("stroke-width", 2)
                .attr("fill", "none")
                .on("mouseout", function() { tooltip.style("display", "none"); })
                .on("mousemove", function(d) {
                  var xPosition = d3.mouse(this)[0];
                  var yPosition = d3.mouse(this)[1];
                  var value = yScale.invert(yPosition);
                  tooltip.style("display", "block");
                  tooltip.attr("transform", "translate(" + xPosition + "," + (d3.mouse(this)[1] -25 + ")"));
                  tooltip.select("text").text( (+value).toFixed(3));
                });


                var legend = svg.append("g")
    .attr("class", "legend")
    .attr("x", width -150 )
    .attr("y", 0)
    .attr("height", 100)
    .attr("width", 100);

  legend.selectAll('g').data(dataArray)
      .enter()
      .append('g')
      .each(function(d, i) {
        var gg = d3.select(this);
        gg.append("rect")
          .attr("x", width - 150)
          .attr("y", -50 + i*25)
          .attr("width", 10)
          .attr("height", 10)
          .style("fill", colorScale(i));

        gg.append("text")
          .attr("x", width - 135)
          .attr("y", -50 + i * 25 + 8)
          .attr("height",30)
          .attr("width",100)
          .text(yAxisVar[i]);

      });




}
    }
}

</script>







  </body>
</html>
