<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/jpeg" href='{% static "Icon/logo.png" %}'>

    <title>Dashboarding Product | DizzData</title>
  </head>
  <body>
     <form method="post" id="queryform" enctype="multipart/form-data">{% csrf_token %}</form>
    <section class="sec point" id="sec1">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="dropdown">
                    <div class="point-center">
                       {% comment %}
                       <button type="button" id="drop" class="btn dropdown-toggle" data-toggle="dropdown">
                            Games
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">No Game :(</a>
                        </div>
                        {% endcomment %}
                        {% if connected == True %}
                        <a href={% url 'logout' %}>
                            <input type="button" value="logout" />
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="point-center">
                    <button type="submit" class="btn refresh" title="Refresh" id="run_query" form="queryform">
                        Run Query
                        <i id="refresh" class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            {% if connected == True %}
                 <div class="col-md-4 col-sm-4">
                <div class="point-center">
                    <button type="submit" class="btn-default" >
                       Connected
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="col-md-4 col-sm-4">
                    <div class="dropdown">
                        <div class="point-center">
                            <button type="button" id="drop" class="btn dropdown-toggle" data-toggle="dropdown">
                                Connect to Database
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'signin' %}">BigQuery</a>
                                <a class="dropdown-item" href="{% url 'uploadcsv' %}">Upload CSV</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="sec" id="sec2">
        <div class="row">
            <div id="sec1-sql" class="col-md-2 col-sm-2">
                <div class="aside">
                    <ul class="list-group">
                        <a id="code" href="#" class="list-group-item active">Coding Area </a>
                        <a class="list-group-item" href="{% url 'charting' %}">Charting Area</a>
                        <a id="report" href="#sec4-sql" class="list-group-item">Reporting Area</a>
                    </ul>
                </div>
            </div>
            <div id="sec2-sql" class="col-md-5 col-sm-5">
                <div class="main">
                    <div class="coding">
                      <i id="close-sql" class="fa fa-caret-left" alt="close" title="Shrink"></i>
                      <div class="container">
                              <label for="area" style="margin-top: 5px;">Coding Ground:</label>
                              <div class="form-group">
                                  <textarea class="form-control z-depth-1" id="area" name="query" form="queryform">
                                  </textarea>
                              </div>
                      </div>
                    </div>
                </div>
            </div>
            <div id="sec3-sql" class="col-md-5 col-sm-5">
                <div class="main1">
                    <div class="container">
                      <i id="close" class="fa fa-caret-right" alt="close" title="Shrink"></i>
                      {% for result in results %}
                        <div class="image">
                            <div class="options">
                                    <button id="btn{{forloop.counter}}" type="button" class="btn btn-primary btn-sm save" >
                                        <i class="fa fa-save" title="Save to Reporting area"></i>
                                    </button>
                            </div>{% load static %}
                            <div class="plot" id="plots{{forloop.counter}}" >
                            </div>
                        </div><hr><br>
                      {% endfor %}
                    </div>
                </div>
            </div>
            <div id="sec4-sql" class="col-md-10 col-sm-10">
                <div class="main2">
                    <div class="container">
                      {% for result in results %}
                        <div id="image{{forloop.counter}}" data-id="{{forloop.counter}}" class="image draggable d-none ui-widget-content">
                            <div class="options">
                                    <button id="btn-{{forloop.counter}}" type="button" class="btn btn-primary btn-sm save" >
                                        <i class="fa fa-close" title="Save to Reporting area"></i>
                                    </button>
                            </div>{% load static %}
                            <div class="plots" data-id="{{forloop.counter}}" id="plotscopy{{forloop.counter}}" style="margin-right:5em">
                            </div>
                          <br>
                        </div>
                      {% endfor %}
                      <div class="image d-none draggable ui-widget-content" id="multiple_plots_div">
                        <div class="options" style="margin-bottom:30px">
                                <button id="btn-multiple-plots" type="button" class="btn btn-primary btn-sm save" >
                                    <i class="fa fa-close" title="Save to Reporting area"></i>
                                </button>
                        </div>
                        <div id="multiple_plots_copy">
                        </div>
                      </div>
                    </div>
                </div>
            </div>


        <!--    <div id="sec3-sql" class="col-md-5 col-sm-5">
                <div class="main1">
                    <div class="container">
                        <div class="image">
                            <i id="close" class="fa fa-close" alt="close" title="close"></i>
                            <img class="image-in-images" src="Images/Charts_image_series.png" class="mx-auto">
                        </div><hr><br>
                        <div class="image">
                                <i id="close" class="fa fa-close" alt="close" title="close"></i>
                                <img class="image-in-images" src="Images/Charts_series_regions.png" class="mx-auto">
                        </div><hr><br>
                        <div class="image">
                                <i id="close" class="fa fa-close" alt="close" title="close"></i>
                                <img class="image-in-images" src="Images/1490861424_783_the-worst-or-the-best-smashing-magazine.png" class="mx-auto">
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </section>

    <section class="sec" id="sec3">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div class="buttons">
                        <button type="button" class="btn btn-danger">Show Email Alerts</button>
                    </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="buttons">
                    <button type="button" class="btn btn-danger">Show Anamalies</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src='{% static "script.js" %}'></script>
    <script>

      $(document).ready(function(){
        $( ".draggable" ).draggable();
        $('.plots').resizable();
        var chart_area_plots = [];
          $('.plot-checkbox').click(function(){
            if($(this).prop('checked')){
              var id = $(this).attr('id');
              {% for result in results %}
                var title{{forloop.counter}} = "{{result.0}}";
                if(id == title{{forloop.counter}}){
                  var trace = {
                            x: {{ result.1 |safe }},
                            y: {{ result.2 |safe}},
                            type: 'scatter',
                            name: id
                          };
                  chart_area_plots.push(trace);
                }
              {% endfor %}
              Plotly.newPlot('multiple_plots', chart_area_plots);
              Plotly.newPlot('multiple_plots_copy', chart_area_plots);
            }
            else{
              var id = $(this).attr('id');

              for (var i=0;i<chart_area_plots.length;i++){
                if(chart_area_plots[i]['name'] == id)
                {
                  chart_area_plots.splice( i, 1 );
                  console.log(i);
                  break;
                }
              }

              Plotly.newPlot('multiple_plots', chart_area_plots);
              Plotly.newPlot('multiple_plots_copy', chart_area_plots);
            }
          });
          $('#btn-multiple-plots').on('click', function () {
              $('#multiple_plots_div').addClass('d-none');
              $('#mupltiple_plot_btn').removeAttr('disabled');

          });
          $('#mupltiple_plot_btn').click(function (e) {
              $(this).attr('disabled', 'true');
              $('#multiple_plots_div').removeClass('d-none');
          });
          var list = [];
          {% if results %}
          {% for result in results %}
              var data{{forloop.counter}} = [{
                  y: {{ result.2 |safe}},
                  x: {{ result.1 |safe }},
                  type: 'scatter',
                  marker: {
                      color: '#23b7e5',
                  },
              }];
              var layout{{forloop.counter}} = {
                autosize: true,
                title: '{{result.0 }}',
                titlefont: {
                    family: 'Droid Sans Mono',
                    size: 36,
                    color: '#000000'
                  },
                  margin: {l:200},
              };

              Plotly.newPlot('plots{{forloop.counter}}', data{{forloop.counter}}, layout{{forloop.counter}});
              Plotly.newPlot('plotscopy{{forloop.counter}}', data{{forloop.counter}}, layout{{forloop.counter}});
              $('#btn{{forloop.counter}}').click(function (e) {
                  $(this).attr('disabled', 'true');
                  $('#image{{forloop.counter}}').removeClass('d-none');
              });
              $('#btn-{{forloop.counter}}').on('click', function () {
                  console.log("done");
                  $('#image{{forloop.counter}}').addClass('d-none');
                  $('#btn{{forloop.counter}}').removeAttr('disabled');

              });
              $('#plotscopy{{forloop.counter}}').resize(function(){
                console.log("PASDS");
                  data{{forloop.counter}} = [{
                    y: {{ result.2 |safe}},
                    x: {{ result.1 |safe }},
                    type: 'scatter',
                    marker: {
                        color: '#23b7e5',
                    },
                  }];
                  var layout{{forloop.counter}} = {
                    autosize: false,
                    height: $(this).height(),
                    width: $(this).width(),
                    title: '{{result.0 }}',
                    titlefont: {
                        family: 'Droid Sans Mono',
                        size: 36,
                        color: '#000000'
                      },
                      margin: {l:200},
                  };
                  Plotly.newPlot('plotscopy{{forloop.counter}}', data{{forloop.counter}}, layout{{forloop.counter}});
                  $(this).parent().width($(this).width()*1.2).height($(this).height()*1.1);
              });

              // $('#btn{{forloop.counter}}').click(function (e) {
              //     $(this).attr('disabled', 'true');
              //     $('#image{{forloop.counter}}').removeClass('d-none');
              // });
              // $('#btn-{{forloop.counter}}').on('click', function () {
              //     $('#image{{forloop.counter}}').addClass('d-none');
              //     $('#btn{{forloop.counter}}').removeAttr('disabled');
              //
              // });
            {% endfor %}
            {% endif %}
          });


        </script>
  </body>
</html>
